<div class="p-4 w-100">
    <h3 class="mb-2">Recherche</h3>
    <form action="">
        <mat-form-field class="w-100" appearance="legacy">
            <mat-label>Film...</mat-label>
            <input matInput placeholder="Rechercher un film">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-label>Type</mat-label>
            <mat-select>
                <mat-option value="action">Action</mat-option>
            </mat-select>
        </mat-form-field>
    </form>

</div>