.mat-card{
    height: 100%;
    overflow: hidden;
    img {
        object-fit: cover;
        max-height: 85%;
        min-height: 85%;
    }
}

.mat-card:hover{
    img{
        transition: 0.5s ease;
        transform: scale(1.03);
    }
}
