<app-navbar></app-navbar>
<div class="container" style="margin-top: 175px;">
    <h2>Ajouter un acteur</h2>
    <form action="">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>NomAct</mat-label>
            <input matInput placeholder="NomAct">
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>PrenAct</mat-label>
            <input matInput placeholder="PrenAct">
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>DateNaiss</mat-label>
            <input matInput placeholder="DateNaiss">
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>DateDeces</mat-label>
            <input matInput placeholder="DateDeces">
        </mat-form-field>
    </form>
</div>