.mat-card{
    min-width: 150px;
    overflow: hidden;
    img {
        min-height: auto;
        max-height: auto;
        object-fit: contain;
    }
}

.mat-card:hover{
    img{
        transition: 0.5s ease;
        transform: scale(1.03);
    }
}
