<div class="container">
    <div class="row">
        <div *ngFor="let film of films" class="col mb-2">
            <mat-card>
                <mat-card-header class="d-flex justify-content-center">
                  <mat-card-title>{{film.title}}</mat-card-title>
                  <mat-card-subtitle class="text-center">{{film.type}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{film.imageUrl}}">
                <mat-card-content>
                  <p class="text-justify">
                      
                  </p>
                </mat-card-content>
              </mat-card>
        </div>
    </div>
</div>
