<app-navbar></app-navbar>
<div class="container" style="margin-top: 175px;">
    <h2>Ajouter un personnage</h2>
    <form action="">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Nom personnage</mat-label>
            <input matInput placeholder="Nom personnage">
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Acteur</mat-label>
            <mat-select>
                <mat-option *ngFor="let categorie of categories" [value]="categorie.codeCat">{{categorie.libelleCat}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Film</mat-label>
            <mat-select>
                <mat-option *ngFor="let categorie of categories" [value]="categorie.codeCat">{{categorie.libelleCat}}
                </mat-option>
            </mat-select>
        </mat-form-field>
            <button mat-raised-button color="primary">Valider</button>
        


    </form>
</div>
