<app-navbar></app-navbar>
<div class="container" style="margin-top: 175px;">
    <h2>Ajouter un film</h2>
    {{film.titre}}
    <form [formGroup]="filmForm" (ngSubmit)="save()" autocomplete="false" class="row d-flex justify-content-around">
        <input type="hidden" formControlName="noFilm">
        <mat-form-field class="col-lg-6" appearance="outline">
            <mat-label>Titre</mat-label>
            <input matInput placeholder="Titre" formControlName="titre">
        </mat-form-field>
        <mat-form-field class="col-lg-6" appearance="outline">
            <mat-label>Duree</mat-label>
            <input type="number" matInput placeholder="Duree" formControlName="duree">
        </mat-form-field>
        <mat-form-field class="col-lg-6" appearance="outline">
            <mat-label>Date de sortie</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateSortie">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <mat-form-field class="col-lg-6" appearance="outline">
            <mat-label>Budget</mat-label>
            <input type="number" matInput placeholder="Budget" formControlName="budget">
        </mat-form-field>
        <mat-form-field class="col-lg-6" appearance="outline">
            <mat-label>Montant de la recette</mat-label>
            <input type="number" matInput placeholder="Montant de la recette" formControlName="montantRecette">
        </mat-form-field>
        <mat-form-field class="col-lg-6" appearance="outline">
            <mat-label>Url image</mat-label>
            <input matInput placeholder="Url image" formControlName="urlImage">
        </mat-form-field>
        <mat-form-field class="col-lg-6" appearance="outline">
            <mat-label>Video trailer (youtube id)</mat-label>
            <input matInput placeholder="Video trailer (youtube id)" formControlName="videoTrailer">
        </mat-form-field>
        <mat-form-field class="col-lg-6" appearance="outline">
            <mat-label>Title image</mat-label>
            <input matInput placeholder="Title image" formControlName="titleimage">
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Categorie</mat-label>
            <mat-select formControlName="codeCat">
                <mat-option *ngFor="let categorie of categories" [value]="categorie.codeCat">{{categorie.libelleCat}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Réalisateur</mat-label>
            <mat-select formControlName="noRea">
                <mat-option *ngFor="let realisateur of realisateurs" [value]="realisateur.noRea">{{realisateur.nomRea}} {{realisateur.prenRea}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="col-3">Valider</button>
    </form>
</div>