*{
    display: flex;
    align-items: center;
}
button, .profile-picture{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

button{
    min-width: inherit;
    padding: 0px!important;
}

li{
    padding-bottom: 1em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
.active{
    
    border-bottom: 2px solid;
    border-bottom-color: white;
    
}

.mat-icon{
    margin-right: 0.25em;
}
.menu{
    padding: 1em;
}