@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
    height: 100%;
    background-color: #212121;
    color: white;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0;
    padding: 0px;
    font-family: "Helvetica Neue", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}
