@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
    height: 100%;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0;
    padding: 0px;
    font-family: "Helvetica Neue", sans-serif;
}
